.topbar{
    height: 4rem;
    width: 100%;
    background: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    align-items: center;
    top: 0rem;
    z-index: 999999;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: center;
}
.topbar_image{
    width: 56px;
    height: 51px;
}