<div class="loginPage">
<div class="row">
  <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="card card-user loginCard">
        <div class="card-header">
          <h5 class="card-title text-center">Login</h5>
        </div>
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Username</label>
                  <input type="text" class="form-control" placeholder="Username" value="">
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="exampleInputEmail1">Email address</label>
                  <input type="email" class="form-control" placeholder="Email">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="update ml-auto mr-auto">
                <a routerLink = "/dashboard" class="btn btn-primary btn-round">Submit</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>